/* 
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
body {
  width: 100%;
  height: fit-content;
  background-color: #f0f2f5;
  box-sizing: border-box;
}
 // left context 
.left-context {
  text-align: left;
  padding-top: 18%;
  padding-left: 10%;
  display: block;
}
.logo img {
  height: 106px;
  margin: -28px;
}
.tagline {
  font-size: 28px;
  font-weight: normal;
  width: 500px;
  margin-top: 15px;
}

//right context
.login-page {
  background-color: #ffffff;
  height: 345px;
  width: 396px;
  border-radius: 10px;
  margin-left: 60%;
  text-align: center;
}
input {
  width: 85%;
  font-size: large;
  padding: 16px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid grey;
}
input[type="password"] {
  margin-bottom: 20px;
}
.login-btn {
  width: 94%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #1877f2;
}

.forget-password {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin: 15px 0px;
}
.signup-btn {
  height: 48px;
  padding: 0px 16px;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  background-color: #42b72a;
  margin-top: 15px;
}
.forget-password:hover {
  text-decoration: underline;
}
.create-a-page {
  padding: 0px 120px;
  margin: 28px;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
}
.create-a-page a {
  font-weight: bold;
  color: black;
}
.create-a-page a:hover {
  text-decoration: underline;
}
hr {
  width: 90%;
  border: 1px solid #dadde1;
  margin: 0px auto;
}
 */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
body {
  background-color: #f0f2f5;
  box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* left context */
.left-context {
  width: 50%;
  height: 60vh;
  text-align: left;
  padding-top: 18%;
  padding-left: 10%;
}
.logo img {
  height: 106px;
  margin: -28px;
}
.tagline {
  font-size: 28px;
  font-weight: normal;
  width: 500px;
  margin-top: 15px;
}

/* right context */
.right-context {
  width: 50%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-page {
  background-color: #ffffff;
  height: 350px;
  width: 396px;
  border-radius: 10px;

  text-align: center;
}
input {
  width: 85%;
  font-size: large;
  padding: 16px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid grey;
}
input[type="password"] {
  margin-bottom: 20px;
}
.login-btn {
  width: 94%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #1877f2;
}

.forget-password {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin: 15px 0px;
}
.signup-btn {
  height: 48px;
  padding: 0px 16px;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  background-color: #42b72a;
  margin-top: 15px;
}
.forget-password:hover {
  text-decoration: underline;
}
.create-a-page {
  margin-top: 20px;
  font-size: 14px;
  font-weight: normal;
}
.create-a-page a {
  font-weight: bold;
  color: black;
}
.create-a-page a:hover {
  text-decoration: underline;
}
hr {
  width: 90%;
  border: 1px solid #dadde1;
  margin: 0px auto;
}
